<!-- Content for each page goes here -->
        <div id="feature" class="grid_9">
            <h2>Contact US</h2>
            <p>Please feel welcome to call us anytime and we will be happy to answer your questions and
            queries.</p>
            <p>Contact No: 01706 557856</p>
            <p>Email: crengineering@chris.co.uk</p>
            <p>Or if you would like a quote use own online quote form:<a href="#/home">Get Quote</a></p>            
        </div><!-- feature -->
        
            