<!-- Content for each page goes here -->
        <div id="feature" class="col-xs-12">
            
            <h2>Products</h2>
            
            <div class="product">
                <h3>Clear Glass Balustrades</h3>
                
                    <img src="img/clearGlass.jpg" alt="Clear glass balustrade on site." />
                    
                
                <p>
                    Fast and easy to install.
                </p>
                <p>
                    The idea solution to make the most a fantastic view, Clear glass balustardes are pratically inviible when lookking out from the inside of the property.
                    Our glazing is held together with a dry ledge system, greatly decreasing the install time.
                    Aluminium glazing channel supports 12.5mm laminated toughened glass.
                </p>
                
            
                    <h4>Avalible Finished</h4>
                    <ul>
                        <li>stainless steel cladding.</li>
                        <li>powder coated alluminum cladding (used to match existing finishes.</li>
                    </ul>
                
            
                <a href="">Details and Pricing</a>
                                     
                <br class="clear" />
            </div><!-- end div class product -->
            
            <div class="product">
                <h3>Juliet Balconies</h3>
                    <img src="img/juliet.jpg" alt="Juliet balcony on site." />
                <p>
                
                </p>
                <a href="">Details and Pricing</a>
                                     
                <br class="clear" />
            </div><!-- end div class product -->
            
            <div class="product">
                <h3>Glass and Stainless Steel Balustrades</h3>
                    <img src="img/glassSteel.jpg" alt="Juliet balcony on site." />
                <p>
                
                </p>
                <a href="">Details and Pricing</a>
                                     
                <br class="clear" />
            </div><!-- end div class product -->
            
            <div class="product">
                <h3>Custom Staircases</h3>
                    <img src="img/staircase.jpg" alt="Juliet balcony on site." />
                <p>
                
                </p>
                <a href="">Details and Pricing</a>
                                     
                <br class="clear" />
            </div><!-- end div class product -->
            
            <div class="product">
                <h3>Handrails</h3>
                    <img src="img/handrail.jpg" alt="Juliet balcony on site." />
                <p>
                
                </p>
                <a href="">Details and Pricing</a>
                                     
                <br class="clear" />
            </div><!-- end div class product -->
        </div><!-- feature -->